<tr>
  <td><%= link_to short_question(gist.question) , admin_question_path(gist.question) %></td>
  <td><%= link_to url_path(gist), gist.url %></td>
  <td><%= gist.user.email %></td>
  <td><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></td>
</tr>
