<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<%= render 'result_message' %>

<%= link_to t('actions.all_tests'), tests_path, class: "btn btn-success mt-2" %>
<%= button_to t('.restart'), start_test_path(@test_passage.test), class: "btn btn-primary mt-2" %>
