<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
  <%= link_to root_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-album" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <rect x="4" y="4" width="16" height="16" rx="2"></rect>
    <path d="M12 4v7l2 -2l2 2v-7"></path>
    </svg>
    <span class="ms-2 fs-4">Test Guru</span>
  <% end %>
</header>
