<li>
  <%= answer.body %><br>
  <%= link_to "show", admin_answer_path(answer) %> |
  <%= link_to "edit", edit_admin_answer_path(answer) %> |
  <%= link_to "Destroy", admin_answer_path(answer),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-outline-danger btn-sm" %>
</li>
