<tr>
  <td><%= truncate question.body, length: 100 %></td>
  <td>
    <%= link_to t('actions.show'), admin_question_path(question) %> |
    <%= link_to t('actions.edit'), edit_admin_question_path(question) %> |
    <%= link_to t('actions.destroy'), admin_question_path(question),
                method: :delete,
                data: { confirm: t('actions.confirm') },
                class: "btn btn-outline-danger btn-sm" %>
  </td>      
</tr>
